* {
  box-sizing: border-box;
}

body {
  margin: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
}
p {
  color: #999999;
  margin: 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

.header {
  background: url("../img/main.png") no-repeat center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 293px;
}
.header:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 1px;
  background: #a1a1a1;
  opacity: 0.5;
  top: 100px;
}
.header-info p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 40px 0;
  align-items: center;
}

.nav a {
  display: inline-block;
  color: #07aa19;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #fff;
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav a:after {
  display: block;
  content: "";
  background-color: #fff;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 40px;
}
.nav a:hover:after,
.nav a:focus:after {
  width: 160%;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 220px;
}

.header-info p {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  width: 800px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin: 0 0 50px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: #4985ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.btn:hover {
  background: #3d70d5;
  font-size: 14px;
}

.first-section {
  padding: 110px 0 105px 0;
}
.first-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  margin: 0 0 50px 0;
}
.first-section .text {
  width: 700px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 0 0 70px 0;
}
.skills {
  display: flex;
  justify-content: space-between;
  margin: 0 0 55px 0;
}

.skill {
  width: 355px;
  padding: 0 0 0 125px;
  margin-left: 20px;
  background: url("../img/icon.png") no-repeat left top;
}
.skill h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 25px 0 0 0;
}
.skill p {
  width: 230px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sec-section {
  background: #f6f6f8;
  padding-bottom: 70px;
}

.sec-content {
  display: flex;
  justify-content: center;
}

.sec-content__info {
  margin-top: 155px;
}
.sec-content__img {
  margin-top: 100px;
  width: 500px;
  height: 400px;
  margin-bottom: 167px;
}

.sec-content__link:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  width: 1110px;
  height: 1px;
  background: #a1a1a1;
  opacity: 0.5;
  top: 2170px;
}

.sec-content__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  margin: 0 0 0 0;
}

.sec-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 480px;
  margin-top: 40px;
  margin-bottom: 75px;
}

.more-link {
  color: #4985ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.more-link:hover {
  color: #1453ac;
}

.sec-content__stats {
  display: flex;
  justify-content: space-between;
}

.sec-content__stat {
  width: 105px;
  background: url("../img/icon3.png") no-repeat;
  background-position: 0 10px;
}

.sec-content__num {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  margin: 0 0 0 50px;
}

.sec-content__stat-text {
  font-weight: 400;
  font-size: 16px;
  margin: 6px 0 0 0;
  line-height: 25px;
}

.works-section {
  background: rgba(94, 18, 208, 1);
  background: -moz-linear-gradient(
    top,
    rgba(94, 18, 208, 1) 0%,
    rgba(94, 18, 208, 1) 51%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(94, 18, 208, 1)),
    color-stop(51%, rgba(94, 18, 208, 1)),
    color-stop(51%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(94, 18, 208, 1) 0%,
    rgba(94, 18, 208, 1) 51%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(94, 18, 208, 1) 0%,
    rgba(94, 18, 208, 1) 51%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(94, 18, 208, 1) 0%,
    rgba(94, 18, 208, 1) 51%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(94, 18, 208, 1) 0%,
    rgba(94, 18, 208, 1) 51%,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e12d0', endColorstr='#ffffff', GradientType=0 );

  padding: 100px 0 170px 0;
}

.works__head {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 70px;
}

.works__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  width: 550px;
}

.works {
  display: flex;
  justify-content: space-between;
}

.work {
  width: 350px;
}

.work span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985ff;
}

.work__img {
  margin-bottom: 30px;
}

.work__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.work__descr {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  height: 76px;
  line-height: 25px;
}

.work__line:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  width: 1110px;
  height: 1px;
  background: #a1a1a1;
  opacity: 0.5;
  top: 3280px;
}

.projects-section {
  background: #f6f6f8;
  padding: 100px 0 130px 0;
}

.projects-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}

.projects-section__descr {
  margin-bottom: 70px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  width: 356px;
}

.projects {
  margin-bottom: 50px;
}

.projects__img {
  margin-right: 25px;
}

.video-section {
  height: 735px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  width: 1110px;
  height: 1px;
  background: #a1a1a1;
  opacity: 0.5;
  top: 4910px;
}

.video-section {
  background: url("../img/main.png") no-repeat 0 -330px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video {
  position: relative;
  top: 70px;
}

#video-controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 928px;
  height: 28px;
  position: absolute;
  bottom: 0;
  top: 4792px;
  left: 0;
  right: 0;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: rgba(66, 135, 204, 1);
  background: -moz-linear-gradient(-45deg, rgba(66, 135, 204, 1) 0%, rgba(16, 99, 176, 1) 100%);
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(66, 135, 204, 1)),
    color-stop(100%, rgba(16, 99, 176, 1))
  );
  background: -webkit-linear-gradient(-45deg, rgba(66, 135, 204, 1) 0%, rgba(16, 99, 176, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(66, 135, 204, 1) 0%, rgba(16, 99, 176, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(66, 135, 204, 1) 0%, rgba(16, 99, 176, 1) 100%);
  background: linear-gradient(135deg, rgba(66, 135, 204, 1) 0%, rgba(16, 99, 176, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4287cc', endColorstr='#1063b0', GradientType=1 );
}

.video-container:hover #video-controls {
  opacity: 0.9;
}

.button-control {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.range {
  -webkit-appearance: none;
  height: 5px;
  background: rgba(24, 68, 92, 1);
  background: -moz-linear-gradient(top, rgba(24, 68, 92, 1) 0%, rgba(29, 86, 117, 0.74) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(24, 68, 92, 1)),
    color-stop(100%, rgba(29, 86, 117, 0.74))
  );
  background: -webkit-linear-gradient(top, rgba(24, 68, 92, 1) 0%, rgba(29, 86, 117, 0.74) 100%);
  background: -o-linear-gradient(top, rgba(24, 68, 92, 1) 0%, rgba(29, 86, 117, 0.74) 100%);
  background: -ms-linear-gradient(top, rgba(24, 68, 92, 1) 0%, rgba(29, 86, 117, 0.74) 100%);
  background: linear-gradient(to bottom, rgba(24, 68, 92, 1) 0%, rgba(29, 86, 117, 0.74) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18445c', endColorstr='#1d5675', GradientType=0 );
}

#play-pause {
  width: 50px;
  margin: 0 35px 0 30px;
  cursor: pointer;
}

#seek-bar {
  width: 428px;
  margin-right: 80px;
  cursor: pointer;
}

#mute {
  width: 60px;
  margin-right: 15px;
  cursor: pointer;
}

#volume-bar {
  width: 60px;
  margin-right: 35px;
  cursor: pointer;
}

#pause-btn-on {
  background: url("../img/pause.png") no-repeat center;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 4550px;
  z-index: 99;
  opacity: 0.6;
}

#pause-btn-on {
  opacity: 0;
}

#play-btn-on {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  top: 4565px;
  margin: 0 auto;
  z-index: 99;
  background: 0%;
  border: 2px solid #fff;
  height: 100px;
  border-radius: 200px;
  cursor: pointer;
  opacity: 1;
}

#play-btn-off {
  opacity: 0;
  width: 128px;
  height: 128px;
}

#play-btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  margin-left: 20px;
}

.form {
  padding-bottom: 155px;
  padding-top: 85px;
}

.form .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.form__descr {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.input-btn {
  display: flex;
  justify-content: space-between;
  width: 490px; /* Ширина поля с кнопкой */
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 3px 2px rgba(122, 122, 122, 0.3); /* Параметры рамки */
  min-height: 45px; /* Минимальная высота */
  margin-bottom: 35px;
}

.form__input {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
  width: 300px; /* Ширина поля */
  vertical-align: middle; /* Выравнивание по середине */
  border-radius: 30px 0 0 30px;
  padding-left: 33px;
}

.form__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 190px; /* Ширина кнопки */
  height: 45px; /* Высота кнопки */
  border: none; /* Убираем рамку */
  background: #4985ff;
  color: #fff;
  border-radius: 0 30px 30px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form__btn:hover {
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}
::-moz-placeholder {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #999999;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.form__PS {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.footer {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer__links-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
}

.footer__item {
  text-decoration: none;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}
.footer__item-1 {
  text-decoration: none;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.footer__item:before {
  content: " ";
  width: 10px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  background: url("../img/arrow.png") no-repeat;
}

.end-p {
  text-align: center;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 30px;
}

.end-p:before {
  content: "";
  display: block;
  width: 1110px;
  height: 1px;
  background: #a1a1a1;
  opacity: 0.5;
  margin-top: 40px;
  margin-bottom: 30px;
}
